*{
    box-sizing:border-box;
    margin:0;
    padding:0
  }
  body{
    background:#222427;
    color:#fff;
    font-family:system-ui,-apple-system,Segoe UI,Roboto,'Helvetica Neue',sans-serif;
    overflow-x:hidden;
  }
  #main{
    background:#fff;
    color:#000;
    width:100vw;
    min-height:100vh;
    /* 0.55 because 45% of the circle is hidden only 55% is shown. +20 gives extra space*/
    padding:calc(var(--circle-size)*0.55 + 20px) 15% 10%;
    transition:transform .5s linear;
    transform-origin:top left;
  }
  /* root makes it global */
  :root{
    --circle-size: 220px;      /* css variable starts with -- */
  }

  #circle-container{
    position:fixed;
    top:calc(var(--circle-size) * -0.45);
    left:calc(var(--circle-size) * -0.45);
    z-index:2;
  }

  #circle{
    width:var(--circle-size);
    height:var(--circle-size);
    background:#ff7979;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:transform .5s linear;
  }
  #circle button{
    background:none;
    border:0;
    color:#fff;
    font-size:1.5rem;
    cursor:pointer;
  }
  #close{
    position:absolute;
    top:46%;
    right:70%
  }
  #open {
    position:absolute;
    top:62%;
    left:62%
  }
  nav{
    position:fixed;
    top:65vh;
    left:0;
    width:100%;
  }
  nav ul{
    list-style:none;
    padding:0 0 0 25px
  }
  nav li{
    margin:0 0 1.8rem 0;
    font-size:1.25rem;
    transform:translateX(-110%);
    transition:transform .6s ease-in;
  }
  nav li:nth-child(2){transform:translateX(-140%)}
  nav li:nth-child(3){transform:translateX(-200%)}

  body.show-nav #main{
    transform:rotate(-20deg)
  }
  body.show-nav #circle{
    transform:rotate(-130deg)
  }
  body.show-nav nav li{
    transform:translateX(0)
  }
  @media (max-width:991px){
    :root{ --circle-size: 190px; }
  }
  @media (max-width:575px){
    :root{ --circle-size: 150px; }
  }
  @media (max-width:350px){
    :root{ --circle-size: 130px; }
  
  }
  #main img{
    max-width:100%;
    height:auto;
    display:block;
}